#wrapper {
  margin: auto;
  max-width: 1300px;
}

form {
  padding: 1rem 0 0 1rem;
}

.search-bar {
  width: 100%;
}
/* Mobile */

@media screen and (max-width: 600px) {

  .search-bar {
      width: 95%;
      margin: 0;
    }

    button {
      font-size: 15px;
    }
  }
      
